/* Disable horizontal scrolling on mobile devices */
body {
  overflow-x: hidden;
}

/* Set maximum width to the device width on mobile devices */
@media (max-width: 767px) {
  body {
    max-width: 100%;
  }
}

.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ag-center-cols-container .cell-fail {
  text-align: center;
  font-weight: bold;
  background-color: #f44336 !important;
}

.ag-center-cols-container .rag-grey-outer {
  background-color: #ecf0f1;
}
